@model musicdal.songlist

@{
    ViewData["Title"] = "search";
}

<h1>search</h1>

<div>
    <h4>songlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.songid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.songid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.songname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.songname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.songreleasedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.songreleasedate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
